{% extends 'base.html' %} 

{% block title %}
Compare Players
{% endblock %}
{% block content %} 
{% if season_started == True %}
<div class='container'>
    {% if error_statement %}
    <div class="alert alert-danger" role="alert">{{error_statement}}</div>
    {% endif %} 
    {% if player_select_error  %}
    <div class="alert alert-danger" role="alert">{{player_select_error}}</div>
    {% endif %}
    <form action="{{ url_for('player_comparison') }}" method="post">
        <label for='id_label_multiple' class='form-label'>
            Choose players to compare:
        </label>
        <select name="selected_players" class="js-example-basic-multiple" multiple='multiple' id='id_label_multiple' style="width: 100%">
            {% for team in players|groupby('team') %}
            <optgroup label="{{ team.grouper}}">
                {% for a_player in team.list %}
                <option value="{{ a_player.id }}">{{a_player.first_name}} {{a_player.second_name}}</option>
                {% endfor %}
            </optgroup>
            {% endfor %} 
      </select>
      <label for='minwk' class='form-label'>Choose a gameweek range:</label>
      <select name='minwk' id='minwk'>
          {% for i in range(1,latest_gw + 1)%} 
          <option value = "{{i}}">{{i}}</option>
          {% endfor %}
      </select>
      
      <select name='maxwk' id='maxwk'>
          {% for i in range(1,latest_gw + 1)%} 

          {% if i == latest_gw %}
          <option value = {{i}} selected>{{i}}</option>
          {% else %}
          <option value = {{i}}>{{i}}</option>
          {% endif %}
          
          {% endfor %}
      </select>
   
      <br>
      <input class="btn btn-primary" type="submit" value="Compare">
      
      
    </form>
</div>
{% else %} 
<p>The current season has not yet started</p>
{% endif %}

{% endblock %}

{% block scripts %} 
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type='text/javascript'>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2({
        
        });
    });
</script>
{% endblock %}