{% extends 'base.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %} 
<div class='container'>
    Welcome to FPL Value!
</div>
<div class='container'>
    <p>The <a href='/player_comp_form'>core feature</a> of this app is out!</p>

    <h5>Features coming soon:</h5>
    <ul>
        <li>An app that looks nice, subject to whenever I finish learning CSS :) </li>
        <li>Comparison of Defenders vs Midfielders vs Forwards: what is the optimum formation and which position tends to score the most points?</li>
        <li>Analysis of the best all-time FPL managers - how many hits do they take, do they generally start strong or make their way to the top over the season?</li>
        <li>Analysis of VPM90 across seasons - are players' prices adjusted to maintain their value over multiple seasons? Or does the game over/undercorrect?</li>
    </ul>
</div>
{% endblock %}