{% extends 'base.html' %} 
{% block title %}
Your Team
{% endblock %}
{% block content %} 
<h1>Your Team's VPM90 Performance</h1>
<div class='container'>
    <form method='post'>
        <label for='team_id' class='form-label'>
            Enter your FPL team ID:
        </label>
        <input type="text" name='team_id' id='team_id' placeholder="eg. 380968">
        <input class="btn btn-primary" type="submit" value="Analyze my team">
    </form>
</div>
{% if error_msg %} 
<div class="alert alert-danger" role="alert">{{error_msg}}</div>
{% else %}


<div id='chart' class='chart'></div>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>
{% endif %}
{% endblock %}