{% extends 'base.html' %}

{% block title %}
{{this_player[0].first_name}} {{this_player[0].second_name}}
{% endblock %}

{% block content %} 
<h1>{{this_player[0].first_name}} {{this_player[0].second_name}}</h1>
{% if this_player|length > 0 %}
<table class ="table table-hover" id='profile_table'>
    <thead>
        <tr>
            <th scope="col">Gameweek</th>
            <th scope="col">Opponent</th>
            <th scope="col">xG</th>
            <th scope="col">xA</th>
            <th scope="col">xGI</th>
            <th scope="col">Total Points</th>
            <th scope="col">Minutes</th>
            <th scope="col">Goals</th>
            <th scope="col">Assists</th>
            <th scope="col">Price</th>
            <th scope="col">Cumulative VPM90</th>
          
        </tr>
    </thead>
    <tbody>
        {% for one_game in this_player %}
        <tr>
            <td>{{one_game.round}}</td>
            <td>{{one_game.oppteam.name}}</td>
            <td>{{one_game.expected_goals}}</td>
            <td>{{one_game.expected_assists}}</td>
            <td>{{one_game.expected_goal_involvement}}</td>
            <td>{{one_game.total_points}}</td>
            <td>{{one_game.minutes}}</td>
            <td>{{one_game.goals_scored}}</td>
            <td>{{one_game.assists}}</td>
            <td>{{one_game.value}}</td>
            <td>{{one_game.VPM90}}</td>
          
            
        </tr>
        {% endfor %}
      
    </tbody>
</table>
{% else %}
<p>This player has not yet played minutes this season</p>
{% endif %}
{% endblock %}